@model IEnumerable<LinkBulb.Models.Link>

@{
    ViewData["Title"] = "View";
}

<div class="row">

    @foreach (var item in Model)
    {

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                <a href="/l/goto/@item.ID" class="btn btn-primary">Follow the link</a>
            </div>
        </div>

    }

</div>