@model LinkBulb.Web.ViewModels.LinksPageViewModel

@{
    ViewData["Title"] = Model.UserName + " Links";
}

<style>

    body {
        background: linear-gradient(to bottom, #4096ee 0%,#60abf8 44%,#7abcff 100%);
    }

    .navbar {
        display: none;
    }

    footer {
        display: none;
    }

</style>

<div class="row UserName">

    <div class="col-12">
        <h1 class="text-center">@Model.UserName</h1>
    </div>

</div>
@foreach (var item in Model.Links)
{

    <div class="row">

        <div class="col-12">

            <a class="btn btn-primary btn-lg btnLinkPage" target="_blank" href="/l/goto/@item.ID">@Html.DisplayFor(modelItem => item.Title)</a>

        </div>
    </div>

}